<div class="container">
    <section id="main-section">
        <!-- Side menu and items panel -->
        {{> _sidemenu}}
        <!-- Single Item Section -->
        <section id="items-panel" class="signle-item-panel">
            <p class="item-heading">Home › {{products.tittle}}</p>
            <div class="single-item-container">
                <div class="single-item-images">
                    <div class="item-img-preview">
                        <img src="/{{products.coverImageUrl}}" alt="">
                    </div>
                    <div class="item-images">
                        <div class="other-item-img"></div>
                        <div class="other-item-img"></div>
                        <div class="other-item-img"></div>
                        <div class="other-item-img"></div>
                        <div class="other-item-img"></div>
                    </div>
                </div>
                <div class="single-item-info">
                    <h3>{{products.tittle}} - {{products.category}}</h3>
                    <p class="single-item-price">
                        <span class="text-primary">M{{products.price}}</span> <s>M185.96</s>
                    </p>

                    <div class="item-color-size">
                        <div class="color">
                            <label for="item-color"><small>Colour</small></label>
                            <select name="color" id="color" class="opt">

                                {{#each products.colors}}
                                <option value="red">{{this}}</option>
                                {{/each}}

                            </select>
                        </div>
                        <div class="size">
                            <label for="item-size"><small>Size</small></label>
                            <select name="size" id="size" class="opt">
                                {{#each products.size}}
                                <option value="red">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-secondary">ADD TO CART</button>
                    <button class="btn btn-primary">BUY IT NOW</button>
                </div>
            </div>

            <div class="popular-items">
                <p class="p-heading">You may also like</p>

                <div class="popular-items-list">
                    <div class="item">
                        <div class="item-img"></div>
                        <p>Kheleke - Round Neck</p>
                        <p>M176.99</p>
                    </div>
                    <div class="item">
                        <div class="item-img"></div>
                        <p>Kheleke - Round Neck</p>
                        <p>M176.99</p>
                    </div>
                    <div class="item">
                        <div class="item-img"></div>
                        <p>Kheleke - Round Neck</p>
                        <p>M176.99</p>
                    </div>
                    <div class="item">
                        <div class="item-img"></div>
                        <p>Kheleke - Round Neck</p>
                        <p>M176.99</p>
                    </div>
                </div>
            </div>
        </section>
</div>
</section>
</div>