<div class="container">
    <section id="main-section">
        <!-- Search Area -->
        <div class="search-area">
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Search..." class="primary-input" />
                <button class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <!-- Side menu and items panel -->
        {{> _sidemenu}}
        <!-- Items Section -->
        <section id="items-panel">
            <div class="product-header">
                <p>Products</p>
                <form action="" method="get">
                    <select name="" id="" class="opt"
                        onChange="window.location.replace(this.options[this.selectedIndex].value)">
                        <option value="">Featured</option>
                        <option value="">Best Selling</option>
                        <option value="">Alphabetically A-Z</option>
                        <option value="">Alphabetically Z-A</option>
                        <option value="/shop/v1/products?category=Hoddy&sort=price"> Price, low to high
                        </option>
                        <option value="">Price, high to low</option>
                        <option value="">Date, old to new</option>
                        <option value="">Date, new to old</option>

                        {{!-- /shop/v1/products?category={{this.category}}&sort=price --}}

                    </select>
                </form>
            </div>
            <div class=" items-container">

                {{#each products}}
                <div class="item">
                    <a href="/shop/v1/products/{{this._id}}"></a>
                    <div class="item-img">
                        <img src="/{{this.coverImageUrl}}" alt="">
                    </div>
                    <p class="item-desc">{{tittle}} - {{category}}</p>
                    <p class="item-price">M {{price}}</p>
                </div>
                {{else}}
                <p>No products found</p>
                {{/each}}

            </div>
            <!-- pagination -->
            <div class="pagination">
                <button class="btn btn-secondary">
                    <i class="fas fa-angle-double-left"></i> &nbsp;&nbsp;Prev
                </button>
                <div class="pages">
                    <div class="page">1</div>
                    <div class="page current-page">2</div>
                    <div class="page">3</div>
                    <div class="page">...</div>
                    <div class="page">10</div>
                </div>
                <button class="btn btn-secondary">
                    Next &nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>
                </button>
            </div>

            <div class="small-mobile-pagination">
                <button class="btn btn-secondary">
                    <i class="fas fa-angle-double-left"></i>
                </button>
                <div class="pages">
                    <div class="page">1</div>
                    <div class="page current-page">2</div>
                    <div class="page">3</div>
                    <div class="page">...</div>
                    <div class="page">10</div>
                </div>
                <button class="btn btn-secondary">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </section>
</div>
</section>
</div>